<div class="center jumbotron">
  <div class="text-center">
    <h1>チェックル</h1>
  </div>
  <div class="text-center">
    <h3>
      チェックルは入居募集中の空室情報が各ポータルサイトで掲載されているかを
    <BR>
      自動的にチェックするサービスです。
    </h3>
    
  </div>
</div>
<div>
  <h3>
                          まずは30秒で簡単検索！あなたの物件情報を選んでください。
  </h3>
    <p>

      <!--<input type="text" name="address_shikugun" placeholder="市区郡">-->
    <!--<input type="text" name="address_chomei" placeholder="町名">-->
    

    <!--<input type="text" name="size" placeholder="広さ">-->
    <!--<input type="text" name="age" placeholder="築年数">-->
    <!--<BR><BR>-->


        <!--<form>-->
        <!--  <fieldset class="control-group">-->
        <!--    <label for="zip01" class="control-label">郵便番号</label>-->
        <!--    <div class="controls">-->
        <!--      <input type="text" name="zip21" size="4" maxlength="3">--->
        <!--      <input type="text" name="zip22" size="5" maxlength="4" onkeyup="AjaxZip3.zip2addr('zip21','zip22','pref21','addr21','strt21');" vk_1e37e="subscribed">-->
        <!--    </div>-->
        <!--  </fieldset>-->
        <!--  <fieldset class="control-group">-->
        <!--    <label for="pref21" class="control-label">都道府県</label>-->
        <!--    <div class="controls">-->
        <!--      <input type="text" name="pref21" vk_1e37e="subscribed">-->
        <!--    </div>-->
        <!--  </fieldset>-->
        <!--  <fieldset class="control-group">-->
        <!--    <label for="addr21" class="control-label">市町村区</label>-->
        <!--    <div class="controls">-->
        <!--      <input type="text" name="addr21" vk_1e37e="subscribed">-->
        <!--    </div>-->
        <!--  </fieldset>-->
        <!--  <fieldset class="control-group">-->
        <!--    <label for="strt21" class="control-label">以降の住所</label>-->
        <!--    <div class="controls">-->
        <!--      <input type="text" name="strt21" style="width:100%" vk_1e37e="subscribed">-->
        <!--    </div>-->
        <!--  </fieldset>-->
        <!--</form>-->
        
        <BR><BR>

<%= form_for(:data, url: '/') do |f| %>

  <%= f.select(:todofuken, [:東京, :神奈川]) %>
  <%= f.select(:shikugun, [:足立区, :目黒区, :世田谷区, :鎌倉市]) %>
  <%= f.select(:chomei, [:大谷田, :目黒本町,  :材木座]) %>
  <%= f.select(:room_type, {マンション: 'r20-1', アパート: 'r20-2', 戸建て: 'r20-3', }) %>
  <!--<%= f.number_field:rent_price, step: 0.1,  :placeholder => '家賃（万円）※管理費・共益費は除く' %>-->
  <!--<%= f.number_field:size, step: 0.1,  :placeholder => '広さ（㎡）' %>-->
  <!--<%= f.number_field:comp_year, step: 1,  :placeholder => '築年' %>-->
  <%= f.number_field:rent_price, step: 0.01,  :value => 5.9 %>
  <%= f.number_field:size, step: 0.01,  :value => 22.47 %>
  <%= f.number_field:comp_year, step: 1,  :value => 2015 %>
  
  <BR><BR>
  <%= f.submit "お部屋情報を入れてチェックル！", class: 'btn btn-lg btn-primary' %>
<% end %>

</div>

<div>

  <% if @contents.present? %>

    <% @contents.each do |content| %> 
     <%= content %><br>
     <% end %>
     <br><br>
  <% end %>

  <% if @matches.present? %>
    <DIV>
    <h3>
      条件に当てはまる物件を発見しました！！
    </h3>
    <BR>
    
    <% @matches.each do |match| %> 
     <%= match.brand %>
     <%= match.shop %>
     <%= match.address %>
     <%= match.minute %>
     <%= match.price %>
     <%= match.fee %>
     <%= match.madori %>
     <%= match.size %>
     <% end %>
    </DIV>
  <% end %>

</div>