<div class="center jumbotron">
  <div class="text-center">
    <h1>チェックル</h1>
  </div>
  <div class="text-center">
    <h3>
      チェックルは入居募集中の空室情報が各ポータルサイトで掲載されているかを
    <BR>
      自動的にチェックするサービスです。
    </h3>
    
  </div>
</div>
<div>
  <h3>
                          まずは30秒で簡単検索！あなたの物件情報を選んでください。
  </h3>
    <p>

    <!--<select name="pref_name">-->
    <!--  <option value="" selected>都道府県</option>-->
    <!--  <option value="北海道">北海道</option>-->
    <!--  <option value="青森県">青森県</option>-->
    <!--  <option value="岩手県">岩手県</option>-->
    <!--  <option value="宮城県">宮城県</option>-->
    <!--  <option value="秋田県">秋田県</option>-->
    <!--  <option value="山形県">山形県</option>-->
    <!--  <option value="福島県">福島県</option>-->
    <!--  <option value="茨城県">茨城県</option>-->
    <!--  <option value="栃木県">栃木県</option>-->
    <!--  <option value="群馬県">群馬県</option>-->
    <!--  <option value="埼玉県">埼玉県</option>-->
    <!--  <option value="千葉県">千葉県</option>-->
    <!--  <option value="東京都">東京都</option>-->
    <!--  <option value="神奈川県">神奈川県</option>-->
    <!--  <option value="新潟県">新潟県</option>-->
    <!--  <option value="富山県">富山県</option>-->
    <!--  <option value="石川県">石川県</option>-->
    <!--  <option value="福井県">福井県</option>-->
    <!--  <option value="山梨県">山梨県</option>-->
    <!--  <option value="長野県">長野県</option>-->
    <!--  <option value="岐阜県">岐阜県</option>-->
    <!--  <option value="静岡県">静岡県</option>-->
    <!--  <option value="愛知県">愛知県</option>-->
    <!--  <option value="三重県">三重県</option>-->
    <!--  <option value="滋賀県">滋賀県</option>-->
    <!--  <option value="京都府">京都府</option>-->
    <!--  <option value="大阪府">大阪府</option>-->
    <!--  <option value="兵庫県">兵庫県</option>-->
    <!--  <option value="奈良県">奈良県</option>-->
    <!--  <option value="和歌山県">和歌山県</option>-->
    <!--  <option value="鳥取県">鳥取県</option>-->
    <!--  <option value="島根県">島根県</option>-->
    <!--  <option value="岡山県">岡山県</option>-->
    <!--  <option value="広島県">広島県</option>-->
    <!--  <option value="山口県">山口県</option>-->
    <!--  <option value="徳島県">徳島県</option>-->
    <!--  <option value="香川県">香川県</option>-->
    <!--  <option value="愛媛県">愛媛県</option>-->
    <!--  <option value="高知県">高知県</option>-->
    <!--  <option value="福岡県">福岡県</option>-->
    <!--  <option value="佐賀県">佐賀県</option>-->
    <!--  <option value="長崎県">長崎県</option>-->
    <!--  <option value="熊本県">熊本県</option>-->
    <!--  <option value="大分県">大分県</option>-->
    <!--  <option value="宮崎県">宮崎県</option>-->
    <!--  <option value="鹿児島県">鹿児島県</option>-->
    <!--  <option value="沖縄県">沖縄県</option>-->
    <!--  </select>-->
 
    <!--<input type="text" name="address_shikugun" placeholder="市区郡">-->
    <!--<input type="text" name="address_chomei" placeholder="町名">-->
    

    <!--<input type="text" name="size" placeholder="広さ">-->
    <!--<input type="text" name="age" placeholder="築年数">-->
    <!--<BR><BR>-->


        <!--<form>-->
        <!--  <fieldset class="control-group">-->
        <!--    <label for="zip01" class="control-label">郵便番号</label>-->
        <!--    <div class="controls">-->
        <!--      <input type="text" name="zip21" size="4" maxlength="3">--->
        <!--      <input type="text" name="zip22" size="5" maxlength="4" onkeyup="AjaxZip3.zip2addr('zip21','zip22','pref21','addr21','strt21');" vk_1e37e="subscribed">-->
        <!--    </div>-->
        <!--  </fieldset>-->
        <!--  <fieldset class="control-group">-->
        <!--    <label for="pref21" class="control-label">都道府県</label>-->
        <!--    <div class="controls">-->
        <!--      <input type="text" name="pref21" vk_1e37e="subscribed">-->
        <!--    </div>-->
        <!--  </fieldset>-->
        <!--  <fieldset class="control-group">-->
        <!--    <label for="addr21" class="control-label">市町村区</label>-->
        <!--    <div class="controls">-->
        <!--      <input type="text" name="addr21" vk_1e37e="subscribed">-->
        <!--    </div>-->
        <!--  </fieldset>-->
        <!--  <fieldset class="control-group">-->
        <!--    <label for="strt21" class="control-label">以降の住所</label>-->
        <!--    <div class="controls">-->
        <!--      <input type="text" name="strt21" style="width:100%" vk_1e37e="subscribed">-->
        <!--    </div>-->
        <!--  </fieldset>-->
        <!--</form>-->
        
        <BR><BR>

<%= form_for(:data, url: '/') do |f| %>

  <%= f.select(:todofuken, [:東京, :神奈川]) %>
  <%= f.select(:shikugun, [:足立区, :目黒区, :世田谷区, :鎌倉市]) %>
  <%= f.select(:chomei, [:大谷田, :目黒本町,  :材木座]) %>
  <%= f.select(:room_type, {マンション: 'r20-1', アパート: 'r20-2', 戸建て: 'r20-3', }) %>
  <%= f.number_field:rent_price, step: 0.1,  :placeholder => '家賃（万円）※管理費・共益費は除く' %>
  <%= f.number_field:size, step: 0.1,  :placeholder => '広さ（㎡）' %>
  <%= f.number_field:comp_year, step: 1,  :placeholder => '築年' %>
  
  <BR><BR>
  <%= f.submit "お部屋情報を入れてチェックル！", class: 'btn btn-lg btn-primary' %>
<% end %>

</div>

<div>

  <% if @contents.present? %>
    <% @contents.each do |content| %> 
     <%= content %><br>
     <% end %>
  <% end %>


</div>